.comment-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.username {
    font-weight: bold;
}

.comment-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.comment-text {
    font-size: 14px;
    flex-grow: 1;
    div{
        text-align: left;
        width: 1100px;
    }
}

.comment-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.time {
    color: #888;
    font-size: 0.9em;
}

.location {
    color: #888;
    font-size: 0.9em;
}

.star-rating {
    color: #f90;
    font-weight: bold;
}

.like-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.like-button.active {
    color: gold;
    font-weight: bold;
}

.btn {
    padding: 5px 10px;
    font-size: 0.9em;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    color: black;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    color: white;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent;
}
